.dialog-title {
    color: white;
    background-color: #7C9BCF;
    text-align: center;
}

.dialog-body {
    background-color: #7C9BCF;
    text-align: center;
    border: solid;
    border-width: thick;
}

.dialog-mp-footer {
    background-color: #7C9BCF;
}
